$bodyColor: #fff;
$buttonLinkTextColor: #fff;
$buttonBgColor: #699900;
$linkFont: 'Source Sans Pro', sans-serif;
$bgImage: url(../img/m-h-day.jpg) center no-repeat;
$textColor: #000;
$bannerGradient: linear-gradient(to right, #65950d, #2e5cd6); 
$sectionCardColor: #21232e;
$footerColor: #21232e;
$allText: 'Hind', sans-serif;
$afterColor: #14a0c7;
$z-layers: (  
  default: 1,  
  overlay: 4000  
);

