$bodyColor: #21232e;
$buttonLinkTextColor: #fff;
$buttonBgColor: #e3ac00;
$linkFont: 'Source Sans Pro', sans-serif;
$bgImage: url(../img/m-h-night.jpg) center no-repeat;
$textColor: #fff;
$bannerGradient: linear-gradient(to right, #dfa504, #953051);
$sectionCardColor: #3b3f50; 
$footerColor: #3b3f50; 
$allText: 'Fresca', sans-serif; 
$afterColor: #ff4e33;
$z-layers: (  
  default: 1,  
  overlay: 4000  
);